services:

  # ---------------------------
  # Router (core transit node)
  # ---------------------------
  router:
    image: jackops93/netsetalpine:v1.0.0
    hostname: router 
    command: >
      sh -c "
        sysctl -w net.ipv4.ip_forward=1 || true &&
        iptables -P FORWARD ACCEPT &&
        
        # Block private IP ranges from being routed (simulate public internet)
        iptables -A FORWARD -s 10.0.0.0/8 -d 10.0.0.0/8 -j DROP &&
        iptables -A FORWARD -s 172.16.0.0/12 -d 172.16.0.0/12 -j DROP &&
        iptables -A FORWARD -s 192.168.0.0/16 -d 192.168.0.0/16 -j DROP &&
        
        # NAT for outbound internet access (only for WAN-to-WAN)
        iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE &&
        iptables -t nat -A POSTROUTING -o eth1 -j MASQUERADE &&
        iptables -t nat -A POSTROUTING -o eth2 -j MASQUERADE &&
        
        iptables -L FORWARD -n -v &&
        sleep infinity"
    privileged: true
    volumes:
      - $PWD/scripts:/scripts
      - $PWD/exports:/exports
    networks:
      siteAinternet:
        ipv4_address: 100.64.0.2
      siteBinternet:
        ipv4_address: 100.65.0.2
      cloudAinternet:
        ipv4_address: 100.66.0.2




  # ---------------------------
  # Gateways
  # ---------------------------

  gsiteA:
    image: jackops93/netsetalpine:v1.0.0
    hostname: gsiteA
    privileged: true
    command: >
      sh -c "
        sysctl -w net.ipv4.ip_forward=1 || true;
        ip route replace default via 100.64.0.2;
        
        # Enable NAT for internal network
        iptables -t nat -A POSTROUTING -s 10.10.0.0/16 -o eth1 -j MASQUERADE;
        
        echo 'Site A gateway configured';
        ip route show;
        sleep infinity"
    networks:
      siteA:
        ipv4_address: 10.10.0.3
      siteAinternet:
        ipv4_address: 100.64.0.3
    volumes:
      - $PWD/scripts:/scripts
      - $PWD/exports:/exports

  gsiteB:
    image: jackops93/netsetalpine:v1.0.0
    hostname: gsiteB
    privileged: true
    command: >
      sh -c "
        sysctl -w net.ipv4.ip_forward=1 || true;
        ip route replace default via 100.65.0.2;
        
        # Enable NAT for internal network
        iptables -t nat -A POSTROUTING -s 10.11.0.0/16 -o eth1 -j MASQUERADE;
        
        echo 'Site B gateway configured';
        ip route show;
        sleep infinity"
    networks:
      siteB:
        ipv4_address: 10.11.0.3
      siteBinternet:
        ipv4_address: 100.65.0.3
    volumes:
        - $PWD/scripts:/scripts
        - $PWD/exports:/exports

  gwcloudA:
    image: jackops93/netsetalpine:v1.0.0
    hostname: gwcloudA
    privileged: true
    command: >
      sh -c "
        sysctl -w net.ipv4.ip_forward=1 || true;
        ip route replace default via 100.66.0.2;
        
        # Enable NAT for cloud network
        iptables -t nat -A POSTROUTING -s 10.12.0.0/16 -o eth1 -j MASQUERADE;
        
        echo 'Cloud A gateway configured';
        ip route show;
        sleep infinity"
    networks:
      cloudA:
        ipv4_address: 10.12.0.3
      cloudAinternet:
        ipv4_address: 100.66.0.3
    volumes:
        - $PWD/scripts:/scripts
        - $PWD/exports:/exports


  # ---------------------------
  # Clients
  # ---------------------------

  developerA:
    image: jackops93/netsetalpine:v1.0.0
    hostname: developerA
    volumes:
      - $PWD/scripts:/scripts
      - $PWD/exports:/exports
    cap_add:
      - NET_ADMIN
    command: sh -c "ip route replace default via 10.10.0.3 && sleep infinity"
    networks: 
      siteA:
        ipv4_address: 10.10.0.10

  staffA:
    image: jackops93/netsetalpine:v1.0.0
    hostname: staffA
    volumes:
      - $PWD/scripts:/scripts
      - $PWD/exports:/exports
    cap_add:
      - NET_ADMIN
    command: sh -c "ip route replace default via 10.10.0.3 && sleep infinity"
    networks: 
      siteA:
        ipv4_address: 10.10.0.11

  developerB:
    image: jackops93/netsetalpine:v1.0.0
    hostname: developerB
    volumes:
      - $PWD/scripts:/scripts
      - $PWD/exports:/exports
    cap_add:
      - NET_ADMIN
    command: sh -c "ip route replace default via 10.11.0.3 && sleep infinity"
    networks: 
      siteB:
        ipv4_address: 10.11.0.10

  staffB:
    image: jackops93/netsetalpine:v1.0.0
    hostname: staffB
    volumes:
      - $PWD/scripts:/scripts
      - $PWD/exports:/exports
    cap_add:
      - NET_ADMIN
    command: sh -c "ip route replace default via 10.11.0.3 && sleep infinity"
    networks: 
      siteB:
        ipv4_address: 10.11.0.11


  # ---------------------------
  # Servers
  # ---------------------------

  devserver:
    image: jackops93/netsecnginx:v1.0.0
    hostname: devserver
    networks:
      cloudA:
        ipv4_address: 10.12.0.20
    volumes:
      - $PWD/exports:/exports
      - $PWD/scripts:/scripts
    cap_add:
      - NET_ADMIN
    entrypoint: sh -c "ip route replace default via 10.12.0.3 && exec nginx -g 'daemon off;'"

  productionserver:
    image: jackops93/netsecnginx:v1.0.0
    hostname: productionserver
    volumes:
      - $PWD/exports:/exports
      - $PWD/scripts:/scripts
    networks:
      cloudA:
        ipv4_address: 10.12.0.30
    cap_add:
      - NET_ADMIN
    entrypoint: sh -c "ip route replace default via 10.12.0.3 && exec nginx -g 'daemon off;'"


# ---------------------------
# Network Definitions
# ---------------------------

networks:
  siteA: 
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.0.0/16
          gateway: 10.10.0.1

  siteB:
    driver: bridge
    ipam:
      config:
        - subnet: 10.11.0.0/16
          gateway: 10.11.0.1

  cloudA: 
    driver: bridge
    ipam:
      config:
        - subnet: 10.12.0.0/16
          gateway: 10.12.0.1


  siteAinternet:
      driver: bridge
      ipam:
        driver: default
        config:
          - subnet: 100.64.0.0/16
            gateway: 100.64.0.1

  siteBinternet:
      driver: bridge
      ipam:
        driver: default
        config:
          - subnet: 100.65.0.0/16
            gateway: 100.65.0.1

  cloudAinternet:
      driver: bridge
      ipam:
        driver: default
        config:
          - subnet: 100.66.0.0/16
            gateway: 100.66.0.1
